<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Boku no Style</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="page-heading">SIGN IN</h1>
    <form class="form-sheet" action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password" name="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button class="button-style" type="submit">Sign in</button>
    </form>
    <p class="small">Don't have an account? <a href="/auth/sign-up">Sign up</a></p>
</body>
</html>