<nav>
    <!-- <div class="nav-section">
        <a href="/">Home</a>
    </div> -->
    <div>
        <h1><a class="logo" href="/">Boku no Style</h1></a>
    </div>
    <div class="nav-section">
        <a class="link" href="/brands">Browse brands</a>
        <% if (user) { %>
            <a class="link" href="/auth/profile">My profile</a>
            <a class="link" href="/auth/sign-out">Sign out</a>
        <% } else { %>
            <a class="link" href="/auth/sign-up">Register</a>
            <a class="link" href="/auth/sign-in">Sign in</a>
        <% } %>
    </div>
</nav>