<nav>
    <h1><a class="logo" href="/">Boku no Style</a></h1>
    <div class="nav-section">
        <a class="menu-link" href="/brands">Brands</a>
        <% if (user) { %>
            <a class="menu-link" href="/auth/profile">My profile</a>
            <a class="menu-link" href="/auth/sign-out">Sign out</a>
        <% } else { %>
            <a class="menu-link" href="/auth/sign-up">Register</a>
            <a class="menu-link" href="/auth/sign-in">Sign in</a>
        <% } %>
    </div>
</nav>