<nav>
    <a href="/">Home</a>
    <a href="/brands">Browse brands</a>
    <h1>Boku no Style</h1>
    <% if (user) { %>
        <a href="/auth/profile">My profile</a>
        <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign up</a>
        <a href="/auth/sign-in">Sign in</a>
    <% } %>
</nav>