* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9DEDD;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logo {
    border: 3px solid #92493B;
}

/* Browse brands */

.brands-grid {
    display: flex;
}