<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands - Boku no Style</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Browse brands</h1>
    <div class="brands-grid">
        <% brands.forEach((brand) => { %>
            <div class="brand-item">
                <p>logo</p>
                <p><a href="/brands/<%= brand._id %>"><%= brand.name %></a></p>
            </div>
            
            
        <% }) %>
    </div>


    
    <a href="/brands/new">Add brand</a>
</body>
</html>