<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boku no Style - Brands</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Browse brands</h1>
    <p>Brand 1</p>
    <p>Brand 2</p>
</body>
</html>